.mobileHead{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    border-bottom: 1px solid #eaeaea;
    .mobileSubHead{
        padding: 0 1rem;
    }
    .fhW{
        display: flex;
        align-items: center;
        .hW{
            width: 20%;
            display: flex;
            align-items: center;
            svg{
                width: 24px;
                height: 24px;
                font-size: 24px;
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
    .search{
        width: 100%;
        height: 46px;
        border-radius: 30px;
        border: 0px solid;
        padding: 5px 1rem;
        font-size: 1.1rem;
        outline: none;
    }
    .submenu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border-top: 1px solid #eaeaea;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 5;
        height: 100vh ;
       
        background: #fff;
        width: 0px;
        top: 0;
        left: -100vw;
        transition: width 0.5s ease, min-width 0.5s ease;

        .menuHead{
            display: flex;
            padding: .5rem;
            justify-content: space-between;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1rem 0;
            border-bottom:  1px solid #eaeaea;
        }
        li a{
            text-decoration: underline;
        }
    }
    .hidden {
        width: 0;
        min-width: 0;
        *{
            display: none;
        }
    }
      
    .visible {
        left: 0;
        min-width: 100vw;
        width: 100vw;
        *{
            display: initial;

        }
    }
}

.deskHead{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    .flexBetween{
        display: flex;
        align-items: center;
        justify-content:space-between;
        width: 100%;

    }
    .tab{
        height: 100%;
        width: 100%;
        position: relative;
        .subTab{
            position: absolute;
        }
    }
    .search{
        width: 100%;
        border-radius: 30px;
        border: 0px solid;
        padding: 5px ;
        font-size: 1.1rem;
        outline: none;
        transition-duration: .5s;
        transition-property: width;
        transition-timing-function: cubic-bezier(.4,0,.2,1);

    }
    .submenu{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;
        li{
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
            padding: 1rem 0;
        }
    }
}
.annonce{
    background-color: var(--placeholder-color);
    height: 40px;
    width: 100%;
    border-top: .005rem solid var(--boder-color );
    border-bottom: .005rem solid var(--boder-color );
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    div{
        font-size: .8rem;
    }
    span{
        font-weight: bold;
    }
}


