.mobileHead{
    width: 100%;
    height: calc(50px + 1rem );
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    border-bottom: .5rem solid var(--background-secondary);
    margin-bottom: 1rem;
    .mobileSubHead{
        padding: 0 1rem;
        height: 100%;
    }
    .fhW{
        display: flex;
        align-items: center;
        font-family: 'Oswald';
        font-size: 1rem;
        .hW{
            width: 20%;
            display: flex;
            align-items: center;
            svg{
                width: 40px;
                height: 40px;
                font-size: 40px;
                font-weight: bold;
                margin-right: 15px;
            }
        }
    }
    .search{
        width: 100%;
        height: 46px;
        border-radius: 2px;
        border: 0px solid;
        padding: 1rem;
        font-size: 1.1rem;
        outline: none;
    }
    .submenu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: 1px solid var(--background-secondary);
        width: 100%;
        position: fixed;
        z-index: 5;
        height: 100vh ;
        //border-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: var(--background-primary);
        width: 0px;
        top: 0;
        left: -100vw;
        transition: width 0.5s ease, min-width 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .menuHead{
            display: flex;
            padding: .5rem;
            justify-content: space-between;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            text-decoration: none;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1rem 0;
            border-bottom:  1px solid #eaeaea;
        }
        li a{
            text-decoration: underline;
        }
    }
    .hidden {
        width: 0;
        min-width: 0;
        *{
            display: none;
        }
    }
      
    .visible {
        left: 0;
        margin-left: 2px;
        min-width: 60vw;
        width: 60vw;
        *{
            display: initial;

        }
    }
}

.deskHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 1px 0 0 #ebebf0;
    width: 100%;
    .pad{
        padding: 40px 40px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .flexBetween{
            display: flex;
            align-items: center;
            justify-content:space-between;
            width: 100%;
    
        }
        .armure{
            width: 10%;
            display: flex;
            align-items: center;
            .svg{
                border: 1px solid var(--background-secondary);
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
            }
        }
        .flexC{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .flexCenter{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
    
        }
        .tab{
            height: 100%;
            width: 100%;
            position: relative;
            .subTab{
                position: absolute;
            }
        }
      
        .submenu{
            display: flex;
            justify-content: left;
            width: max-content;
            margin: 0;
            padding: 0;
            position: relative;
            li{
                text-decoration: none;
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
                padding: 2rem 0;
                text-transform: uppercase;
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
    .subnav{
        height: 1px;
        width: 100%;
        position: relative;
        z-index: 10;
        .search{
            border-radius: 30px;
            border: 0px solid;
            padding: 1rem ;
            font-size: 1.1rem;
            outline: none;
            transition-duration: .5s;
            transition-property: width;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
    
        }
    }
}
.annonce{
    background-color: var(--placeholder-color);
    height: 40px;
    width: 100%;
    border-top: .005rem solid var(--boder-color );
    border-bottom: .005rem solid var(--boder-color );
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    div{
        font-size: .8rem;
    }
    span{
        font-weight: bold;
    }
}




