.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #0d1117;
  }
  
  .view_one{
    width: 100vw;
    height: calc(100vh - 100px );
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 750px;
  }
  .view_one .promo{
    width: 100%;
    height: 40px;
    background-color: #fff;
    backdrop-filter: blur(1.5rem);
    background-color:  #2ea043;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: bold;
  }
  
  .view_one .promo::after {
    content: "↗";
  }
  
  .view_one .header{
    width: 100%;
    min-height: 50px;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
  }
  
  .view_one .header .nav{
    display: flex;
    align-items: center;
  }
  
  .view_one .header ul{
    display: flex;
    align-items: center;
  }
  
  .view_one .header ul li {
    list-style-type: none;
    margin-left: 2rem;
  
  }
  
  .view_one .header select{
    margin-left: 2rem;
    border: none;
    padding: 0 5px;
  }
  
  .view_one .presentation{
    margin: 0 auto;
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .view_one .presentation .left{
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
  }
  
  .view_one .presentation .left .bar_1_container{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
  }
  .view_one .presentation .left .bar_1_container .bar_1{
    transition-duration: 900ms;
    background: linear-gradient(#0d1117, #2ea043, #2ea043,#0d1117);
    transition-delay: 0ms;
    width: 4px;
    height: 100%;
  }
  
  .view_one .presentation .left p{
    line-height: 1.5;
    margin-top: 1rem;
  }
  
  .view_one .presentation .left input[type="search"]{
    width: 80%;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .view_one .presentation .left input[type="submit"]{
    background-color: #2ea043;
    color: #fff;
    border: none;
    outline: none;
    height: 50px;
    padding: 1rem;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .view_one .presentation .right{
    width: 49%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 15%;
    position: relative;
  }
  
  .view_two{
    width: 100vw;
    min-height: 800px;
    /* background-color: #161b22;rgba(235, 245, 255, 0.2) */
  }
  
  // .view_two .stats,.view_two .languages{
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-around;
  //   height: 100px;
  //   background-color: #161b22;/*rgba(235, 245, 255, 0.2)*/
  //   /* border-top: 2px solid #2ea043; */
  // }
  // .view_two .stats .stat{
  //   color: #555;
  //   font-weight: bold;
  //   font-size: 1.5rem;
  //   max-width: 27%;
  //   margin: 1rem;
  // }
  
  .view_two .languages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #161b22;/*rgba(235, 245, 255, 0.2)*/
    /* border-top: 2px solid #2ea043; */
    img{
      aspect-ratio: 1/1;
      object-fit: contain;
      mix-blend-mode:screen;
    }
  }
  
  .view_two .content{
    padding: 0 2rem;
    width: 96%;
    margin: 0 auto;
    margin-top: 3rem;
    color: #fff;
  }
  
  .view_two .caroussel{
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 3rem 0!important;
    transform: translate3d(0, 0, 0);
    overflow-x: auto;
    scrollbar-width: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
    margin-bottom: 4rem;
  }
  
  /* width */
  .view_two .caroussel::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    display: none; 
  
  }
  
  .view_two .caroussel::-webkit-scrollbar {
    display: none;
  }
  
  .view_two .caroussel ::-moz-scrollbar {
    display: none;
   
  }
   
  
  /* Track */
  .view_two .caroussel::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .view_two .caroussel::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  .view_two .caroussel::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .view_two .caroussel .slide{
    border-radius: 5px;
    min-width: 550px;
      height:550px;
    /* background-color: #fff; */
    background-color: #161b22;
      /* -webkit-transform: scale3d(0.8, 0.8, 1); */
    /* transform: scale3d(0.8, 0.8, 1); */
      transition: all 0.3s ease-in-out;
      transition:.3s;
      margin:10px 10px;
    width: calc(50% - 20px );
  }
  
  /* .view_two .caroussel .slide_centered{
      opacity: 1;
    background-color: #161b22;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  } */