.entryPoint{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 269px ;
    margin: 0px;
width: 100%;
z-index: 2;
}

.imgContainer{
    position: absolute;
    height: 100%;
    width: 100%;
}

.imgCard{
    height: 100%;
width: 100%;
object-fit: cover;
border-radius: 8px;
background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    // width: 35vw !important;
    // height: calc(35vw * 5/3 ) !important;
    // min-width: 35vw !important;
    // min-height:  calc(35vw * 5/3 ) !important;
    // border-radius: 1vw !important;
    // margin: 4px;
}

.cardContent{
    position: absolute;
    bottom: 0px;
    height: max-content;
    padding: 20px 0;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0));
    
    h2{
        padding: 0 20px;
        height: max-content;
        margin: 0 !important;
        color: #fff !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
}