.homeBack{
    
        text-decoration: none;
        color: #ccc;
    
}
.addObjectContainer{
    margin: .5rem;
}
.addObject{
    width: 40px;
    height: 40px;
    min-height: 40px;
    background-color: var(--color-primary-light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-secondary-light);;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
}
.active{
    background-color: rgba(13,18,22,0.7);
}

.sider{
    display: flex;
    width: 30vw;
    height: calc(100vh - 1rem);
    margin: .5rem;
    min-height: 600px;
    min-width: 400px;
}
.objects{
    width: 60px;
    height: calc(100% );
    //background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    //border: 1px solid #ccc;
    display: flex;
    color: #ccc;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .object{
        width: 70px;
        height: 70px;
        border-radius: 5px;
        //border: 1px solid #ccc;
        margin-bottom: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .7rem;
        svg{
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
    .object:hover{
        // border: 1px solid var(--color-primary-light);
        // color: var(--color-primary-light);
    }
    .mymedias{
        word-break: break-all;
        font-size: .5rem;
    }
   

}

.openedMenu{
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    height: calc(100vh - 1.5rem);
    //background-color: #fff;
    margin-left: .5rem;
    //border-radius: 5px;
    color: #ccc;
    padding-top: .5rem;
    // border-left: 1px solid #ccc;
    // border-right: 1px solid #ccc;
    background-color: rgba(13,18,22,0.7);
    min-height: 600px;

    .addText{
        background-color: #F5F5F5;
        width: max-content;
        padding: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        cursor: pointer;
        border-radius: 5px;
        color: #555;
    }
    .themesTitle{
        padding-left: 1rem;
        font-weight: 500;
    }
    .themes{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        max-height: calc(100% - 30px);
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .themes::-webkit-scrollbar{
        background: transparent;
        width: 0px;
    }
    .themes::-moz-scrollbar {
        background: transparent;
        width: 0px;
    }
    
    .fileInputForm {
        position: relative;
        width: calc(100% - 2rem);
        text-align: center;
        margin: 1rem;
        height: 150px;
        border: 2px dotted #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fileInputForm .label {
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 40%;
        background: #00bfff;
        cursor: pointer;
        color: #fff;
        padding: 10px 0;
        text-transform:uppercase;
        font-size:12px;
    }
    
    .fileInputForm .upload {
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .medias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .mediaImg{
            width: 150px;
            height: 150px;
            background-color: #555;
            margin: .5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
}

.objects::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;

}

.objects::-webkit-scrollbar{
    width: 0px;
    background-color: #F5F5F5;
    
}

.objects::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: var(--color-primary-light);
}

// .view{
//     display: flex;
// }
// .medias{
//     margin-top: 10px;
//     width: 150px;
//     max-width: 150px;
//     background-color: #fff;
//     height: 100%;
//     min-height: 80vh;
//     max-height: 80vh;
//     margin-left: 50px;
//     border-radius: 5px;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//     overflow-y: hidden;
//     padding-bottom: 3rem;
//     .form{
//         padding: 5px;
//         max-width: 100%;
//         input{
//             max-width: 100%;
//             border: none;
//             background-color: #f3f3f3f3;
//             padding: 5px;
//             outline: 1px solid var(--color-primary-light);
//         }
//     }
//     .mediasContent{
//         max-height: calc( 80vh - 70px );
//         overflow-y: scroll;
//         .img{
//             max-width: 100%;
//             max-width: calc( 150px - 1rem );
//             overflow: hidden;
//             margin: 1rem;
//         }
//     }
//     .mediasContent::-webkit-scrollbar-track {
//         border-radius: 10px;
//         background-color: #ccc;
    
//     }
    
//     .mediasContent::-webkit-scrollbar{
//         width: 3px;
//         background-color: #F5F5F5;
        
//     }
    
//     .mediasContent::-webkit-scrollbar-thumb{
//         border-radius: 2px;
//         background-color: var(--color-primary-light);
//     }
// }
