.container{
    width: calc(100% - 0.1rem);
    height: 70vh;
    max-height: 500px;
    border: 0.01rem solid rgb(135, 133, 133);
    margin-bottom: 1rem;
    border-radius: 10px;
    @media only screen and (max-width: 500px) {
        max-height: 300px;

     }
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     .top{
        height: 100%;
     }
    .bottom{
        border-top: 0.01rem solid rgb(135, 133, 133);
        height: 40px;
    }
}