.container{
    width: calc(100% );
    min-height: 50vh;
    max-height: max-content;
    border: 0.01rem solid rgb(135, 133, 133);
    margin: 1.2rem auto;
    border-radius: 10px;
    overflow: hidden;
    @media only screen and (max-width: 500px) {
        min-height: max-content;
        max-height: 400px;

    }
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    .top{
        height: 100%;
        overflow: hidden;
        
        .img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .desc{
            padding: 1rem;
            font-size: 1rem;
            line-height: 1.5;
            overflow: hidden;
            text-overflow:ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            white-space: normal;
            margin: 0 !important;
            max-height: calc(120px - 2rem );
            min-height: calc(120px - 2rem );
        }
    }
    .bottom{
        border-top: 0.01rem solid rgb(135, 133, 133);
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        .positions{

        }
        .arrows{
            display: flex;
            align-items: center;
            
            div:nth-child(1){
                border:  0.01rem solid rgb(135, 133, 133);
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                margin-right: 1rem;
                text-align: center;
                font-size: 1.1rem;
                align-content: center;
                padding: 0;
            }
        }
    }
}
.textColor{
}

.wrapper{
    font-size: .8rem;
    @media only screen and (max-width: 600px) {
        // border-bottom: 0.01rem solid rgb(135, 133, 133);
        // border-top: 0.01rem solid rgb(135, 133, 133);
        margin-bottom: 1rem;
    }
    h2{
        margin-top: 0;
    }

}