.main{
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    min-height: 600px;
    overflow-y: auto;
    .top,.bottom{
        height: 45%;
        width: calc(100% - 1rem );
        margin: 1rem 0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 24px rgba(18, 12, 12, 0.15);;
        display: flex;
        justify-content: center;
        margin: 2rem .5rem;
        padding: 1rem;
        position: relative;
        textarea{
            width: 100%;
            border: none;
            font-size: 1.1rem;
            outline: none;
        }
    }
    .bottom{
        height: max-content;
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            select{
                border: 1px solid #ccc;
                padding: 5px 10px;
                margin: 0 1rem;
                background: #f3f3f3;
                border-radius: 5px;
            }
        }
    }
    svg{
        // fill: green;
        cursor: pointer;
    }
    li{
        line-height: 1.5;
    }
}
.h1{
    margin: 1rem 0;
}