.slide{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 26rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    @media only screen and (min-width: 600px) {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    margin-bottom: .5rem;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
    a{
        //color: #fff;
        line-height: 1.5;
        width: 100%;
        height: 100%;
        text-decoration: none;
        .slider{
            width: 100%;
            height: 100%;
            h5{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .img{
        border-radius: 10px;
        max-height: 200px;
    }
    @media only screen and (max-width: 600px) {
        width:100%  !important;
    }
    .bonttom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;     
        padding-top: 0;
        padding-bottom: .5rem !important;    
        position: relative;
        margin-bottom: 70px;
        @media only screen and (max-width: 600px) {
            margin-bottom: unset;
            padding: 0;
        }
        h2{
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.5 !important;
            margin: 0 !important;
        }
        .desc{
            width: 100%;
            max-height: calc(100% - 70px);
            overflow: hidden;
            text-overflow:ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            white-space: normal;
            margin: 0 !important;
            font-size: 1.1rem;
        }
    }
    .type2{

        -webkit-line-clamp: 6 !important;
        max-height: 200px;
        //padding-bottom: 1rem;
    }
}

.slider{
    position: relative;
}

@media only screen and (max-width: 950px) {
    .slide{
        width: 49%;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 800px) {

    .slide{
        width: 49%;
        flex: 0 0 auto;
        min-height: unset;
        margin-bottom: unset;
    }
    .slide:nth-child(1){
        height: 43.5%;
        order: -2;
        .desc{
            -webkit-line-clamp: 2;
        }
    }
    .slide:nth-child(2) {
        height: 53%;
        -ms-flex-order: -1;
        order: -1;
        .desc{
            -webkit-line-clamp: 6;
        }

    }
    .slide:nth-child(3) {
        height: 53%;
        .desc{
            -webkit-line-clamp: 6;
        }
    }
    .slide:nth-child(4) {
        height: 43.5%;
        .desc{
            -webkit-line-clamp: 2;
        }
    }
    .slide:nth-child(5){
        height: 43.5%;
        order: -1;
        .desc{
            -webkit-line-clamp: 2;
        }
    }
    .slide:nth-child(6) {
        height: 53%;
        -ms-flex-order: -1;
        order: -3;
        .desc{
            -webkit-line-clamp: 6;
        }
    }
    .slide:nth-child(7) {
        height: 53%;
        order: -1;
        .desc{
            -webkit-line-clamp: 6;
        }

    }
    .slide:nth-child(8) {
        height: 43.5%;
        order: -7;
        .desc{
            -webkit-line-clamp: 2;
        }
    }
    
}
.mark_down{
    padding-top: 1rem;
    margin-bottom: .5rem;
    //margin-bottom: 70px;
    color: black;
    @media only screen and (max-width: 600px) {
        color: #fff;
    }
    h2{
        font-size: 1.2rem;
        padding-bottom: .5rem;
    }
    .cat{
        text-decoration: none;
        color: var(--color-primary);
        text-transform: uppercase;

    }
    .desc{
        //min-height: 250px;
    }
}
.publisher{
    max-height: 70px;
    //padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    @media only screen and (min-width: 600px) {
        position: absolute;
        bottom: 0;
        background-color: #fff;
        width: calc(100% - 1rem );
        margin-top: 1rem;
        padding-left: .5rem;
        padding-bottom: .2rem;
        padding-top: .2rem;
    }
    
    // position: absolute;
    // bottom: 0;
    
    .publisher_logo{
        width: 20px;
        height: 20px;
        min-width: 20px;
        border-radius: 50%;
        overflow: hidden;
    }
   
    .name{
        max-width: calc( 100% - 55px);
        @media only screen and (max-width: 600px) {
            color: #fff;
        }
    }
    .read{
        min-width: 80px;
    }

}