.focusable{
    display: flex;
    position: relative;
    width: 100%;
    .actions{
        position: absolute;
        top: -10px;
        right: calc(50% - 50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100px;
        height: 25px;
        background-color: #102770;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        .item{
            background-color: #fff;
            width: 8px;
            height: 8px;
            color: #FFF;
            fill: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .children{
        align-items: center;
        justify-content: center;
        min-width: 700px;
        width: 100%;
    }
}
.focusable:hover{
    
    .children{
        border: 1px solid var(--color-primary-light);
        border-radius: 5px;
    }
    .actions{
        display: flex;
    }
}