.container{
    font-family: 'Poppins',sans-serif;
    .topWrapper{
        padding-bottom: 25px;
        box-sizing: border-box;
        background: #43c6ac;
        background: -webkit-linear-gradient(0deg, #43c6ac 0, #191654 100%);
        background: linear-gradient(0deg, #43c6ac 0, #191654 100%);
        
    }

    .mainContent{
        margin: 0 auto;
        height: 100%;
        margin: 0 auto;
        .articlesFirst{
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 1rem;
            position: relative;
            padding: 0 20px;
            margin: 30px 0;
            overflow: hidden;
            box-sizing: border-box;
            .img{
                width: 50%;
                height: auto;
                position: relative;
                position: relative;
                width: 50%;
                height: 350px;
                overflow: hidden;
                margin: 0 20px 0px 0px;
            }
            .articleInfo{
                max-width: 50%;
                color: #fff;
                .cat{
                    background-color: #ff1616;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 4px 7px;
                    width: max-content;
                }
                .title{
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1.5em;
                    margin: 8px 0 8px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .desc{
                    font-size: 15px;
                    margin: 0px 0 12px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-height: 1.5;
                    -webkit-box-orient: vertical;
                }
                .more{
                    background-color: #fff;
                    transition: color .50s ease;
                    background: #fff;
                    padding: 6px 8px;
                    margin: 24px 0;
                    width: max-content;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #191654;
                }
                .more:hover {
                    color: #fff;
                    background: #ff1616;
                }
            }
        }
        .articlesSecond{
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 1rem;
            position: relative;
            padding: 0 20px;
            margin: 30px 0;
            overflow: hidden;
            box-sizing: border-box;

            .article{
                padding: 0 10px;
                box-sizing: border-box;
                width: calc(calc(calc(100% - 40px) / 3) - 20px );
            }
            .img{
                height: auto;
                position: relative;
                position: relative;
                width: 100%;
                height: 180px;
                overflow: hidden;
                margin: 0 20px 0px 0px;
            }
            .articleInfo{
                max-width: 100%;
                color: #fff;
                .cat{
                    background-color: #ff1616;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 4px 7px;
                    margin: 1rem 0;
                    width: max-content;
                }
                .title{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.5em;
                    margin: 8px 0 8px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .desc{
                    font-size: 15px;
                    margin: 0px 0 12px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-height: 1.5;
                    -webkit-box-orient: vertical;
                }
                .more{
                    background-color: #fff;
                    transition: color .50s ease;
                    background: #fff;
                    padding: 6px 8px;
                    margin: 24px 0;
                    width: max-content;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #191654;
                }
                .more:hover {
                    color: #fff;
                    background: #ff1616;
                }
            }
        }
    }
}