.container {
    padding: 0;
    //max-width: 1062px;
    margin: 0 auto;
    height: 100vh;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    //max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    .main {
      @media only screen and (min-width: 700px) {
        padding: 0 1rem;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      //max-height: 100vh;
      width: 100%;
      max-width: 65.26316em;
      margin-left: auto;
      margin-right: auto;
      .svg1,.svg2,.svg3{
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 1;
      }
      .svg1{
        left: 0;
      }
      .svg2{
        bottom: 40vh;
        right: 0;
      }
      .svg3{
        bottom: 0;
        left: 50px;
      }
      .children{
        z-index: 2;
        max-width: 100%;
        width: 100%;
      }
    }
}