.cookies{
    position: fixed;
    margin: 0 auto;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border-top: 2px solid #000;
    background-color: var(--background-primary);
    display: flex;
    width: 100%;
    z-index: 1000000101;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    max-width: 100%;
    @media (min-width: 1024px){
        padding: 20px 4rem; 
        max-width: 1344px;
    }
    .info{
        margin: auto;
        display: flex;
        flex-direction: column;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 0px 4px;
        color: rgb(0, 0, 0);
        
        @media (min-width: 1024px){
            // flex-direction: row;
        }
    }
   .essentials{
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
    cursor: pointer;
   }
    .txt{
        font-size: 0.875rem;
        line-height: 1.5;
        overflow-y: auto;

        @media (min-width: 1024px){
            flex-direction: row;
        }
    }
    .buttons{
        min-width: 240px;
        width: 100%;
        margin-top: 20px;

        @media (min-width: 1024px){
            display: flex;
            flex-direction: column;
            max-width: 240px;
            margin-top: 0;
        }
    }
    button{
        display: inline-block;
        padding: 13px 18px 12px;
        background-color: rgb(51, 51, 51);
        border-radius: 3px;
        font-size: 0.8125rem;
        line-height: 90%;
        font-family: nyt-franklin, helvetica, arial, sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        margin: .5rem;
        border: none;
        cursor: pointer;
    }
    button:nth-child(1){
        @media (max-width: 1024px){
            margin-left: 0;
        }
    }
}