.preview{
    width: 150px;
    height: calc(150px * 16 / 9);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .pos{
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #fff;
        z-index: 10;
        border-radius: 20px;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border: 1px solid #000;
    }
}

.active{
    border: 1px solid red;
}