.wrapper{
    display: flex;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    .container {
        display: flex;
        width: 100%;
        height: max-content;
        overflow-y: hidden;
        padding-top: 3rem;
        padding-bottom: .5rem;
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */
    }
    .mostreadedArticleMore{
        min-width: calc(150px - 1rem);
        max-width: calc(150px - 1rem);
        position: relative;
        overflow: hidden;
        margin-left:  1rem;
        margin-right: 1rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: -1rem 0 3rem #000;
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;
        height: calc(340px - 2rem);
        border: 2px solid var(--color-primary);
        div{
            line-height: 1.5;
            display: flex;
            text-align: center;
            a{
                font-size: 1.5rem;
                text-decoration: underline;
                font-style: italic;
                color: blue;
            }
        }
        .icon{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                color: var(--color-primary);
                fill: var(--color-primary);
            }
        }
    }
    .mostreadedArticle{
        min-width: 150px;
        max-width: 150px;
        position: relative;
        overflow: hidden;
        margin-right: calc( 50px + 1rem);
        .title{
            background-color: #000;
            height: 340px;
            position: absolute;
            border-radius: 15px;
            border: .5rem solid #fff;
            max-width: calc(100% - 2rem);
            max-height: calc(340px -  40px - .9rem);
            color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column-reverse;
            div{
                font-size: 20px;
                max-width: 100%;
                font-weight: 700;
            }
        }
    }

    ::-webkit-scrollbar{
        display: none;
        height: 0;
        
    }

      
    .card {
        display: flex;
        height: calc(340px - 2rem);
        width: 300px;
        background-color: #fff;
        border: 2px solid var(--color-primary);
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
      /*   margin-left: -50px; */
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
        min-width: 300px;
        padding: 1rem;
        flex-direction: column;
        cursor: pointer;
        .publisher{
            max-height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            width: calc(100% - 1rem );
            .publisher_logo{
                width: 20px;
                height: 20px;
                min-width: 20px;
                border-radius: 50%;
                overflow: hidden;
            }
           
            .name{
                max-width: calc( 100% - 50px);

            }
            .read{
                min-width: 80px;
            }

        }

        .title{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1rem 0;
            h1{
                color: rgb(34, 34, 36);
                font-size: 2rem;
                line-height: 1.2;
            }
            span{
                color: var(--color-primary);
            }
        }
        .titlebottom{
            display: flex;
            flex-direction: column;
            a{
                margin-bottom: 1rem;
                color: blue;
                font-style: italic;
                text-decoration: underline;
            }
        }
        .read{
            display: flex;
            align-items: center;
        }
    }
      
    .card:not(:first-child) {
          margin-left: -50px;
    }
      
      .card:hover {
        //transform: translateY(-20px);
        transition: 0.4s ease-out;
      }
      
      .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
      
     
      
      .card:hover .stroke {
        stroke-dashoffset: 100;
        transition: 0.6s ease-out;
      }
}