.footer {
    display: flex;
    flex: 1;
    padding: 10px 2rem ;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
    @media (max-width: 600px){
        flex-direction: column;
    }

    *{
        width: max-content;
        min-width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }
    .cr{
        font-size: .875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
    }
    .txt{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100vw;
        flex-wrap: wrap;
        a{
            max-width: max-content;
            font-size: .875rem;
            line-height: 1.25rem;
        }
        .themeChanger{
            display: flex;
            align-items: center;
            select{
                margin-left: 1rem;
            }
        }
    }
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}