.container {
  padding: 0;
  max-width: 1062px;
  margin: 0 auto;
  .main {
    min-height: 100vh;
    padding:  0;
    padding-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.search{
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;

}

.apis{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .api{
    width: 30%;
    background-color: #eaeaea;
    height: max-content;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 1rem;
    .top{
      display: flex;
      img{
        border-radius: 5px;
      }
      span{
        margin-left: 1rem;
        font-weight: bold;
      }
    }
    .desc{
      margin: 1rem 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-height: 1.5 !important;
    }
    .keywords{
      display: flex;
      flex-wrap: wrap;
      .word{
        background-color: #ffffff;
        font-size: medium;
        padding: 0 5px;
        font-size: .8rem;
        margin-right: 5px;
      }

    }
  }
}

.container2{
  width: 100vw;
  padding: 0;
  margin: 0;
  .head{
    padding: 0;
    max-width: 1062px;
    margin: 0 auto;
  }
  .banner{
    position: relative;
    width: 100vw;
    height: 40vh;
    min-height: 450px;
    display: flex;
    align-items: center;
    .bannerContent{
      padding-right: 5%;
      padding-left: 5%;
      width: 90%;
      box-sizing: content-box;
      height: 100%;
    }
  }
  .main{
    padding-top: 0;
  }
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.contact{

  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem;
  @media (max-width: 700px) {
    flex-direction: column;
  }
  h3{
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 700px;
    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  p,a{
    max-width: 80%;
    line-height: 1.5 ;
    max-width: 700px;

    @media (max-width: 700px) {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-left: 1rem;
    @media (max-width: 700px) {
      margin-left: auto;
    }
    input{
      margin: 1rem 0;
      padding: 1rem;
      font-size: 1rem;
      width: 100%;
    }
    textarea{
      margin: 1rem 0;
      padding: 1rem;
      font-size: 1rem;
      width: 100%;
    }
  }
}


.cats{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin:  0;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;
  padding:  0 ;
  @media (min-width: 668px){
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  @media (min-width: 740px){
    gap: 1rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  
  @media (min-width: 1000px){
    grid-template-columns: repeat(4,minmax(0,1fr));
    justify-content: flex-start;
    padding: 0 1rem;
  }
  @media (min-width: 1000px){
  }

  .cat{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: calc(100vw * 4 / 3);
    max-width: 300px;
    max-height: calc(100vw * 4 / 3);
    max-width: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    @media (min-width: 668px){
     max-width: 225px;
     max-height: calc(225px * 4 / 3);
    }
    .poster{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      position: absolute;
      height: 100%;
      min-width: 100%;
      div{
        height: max-content;
        color: #fff;
      }
      .publisherLogo{
        width: 45px;
        height: 45px;
        border-radius: 5px;
        overflow: hidden;
      }
      .postTitle{
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin: 0 !important;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #fff;
        width: 100%;
      }
      .publisherName{
        font-weight: 100;
        margin-top: .5rem;
      }
    }
  }
}

.youtube{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  @media (max-width: 500px){
    padding: 1rem;
  }
  .list{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px){
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
    @media (min-width: 880px){
      gap: .5rem;
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
    @media (min-width: 980px){
      gap: 1rem;
      grid-template-columns: repeat(3,minmax(0,1fr));

    }
    
  }
}

.singleStory{
  background-color: #0070f3;
  width: 200px;
  height: 300px;
  //height: calc(90vw * 6 / 4);
  max-width: 300px;
  max-height: calc(300px * 6 / 4);
  position: relative;
}

.newLetterForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  input{
    padding: .5rem 1rem;
  }
  input[type="email"]{
    border: none;
    padding: 1rem;
    background-color: var(--placeholder-color);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}