.fontSize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-bottom: 1rem;    
    margin-top: 1rem;
    cursor: pointer;

    span{
        width: 150px;
    }
    input{
        margin-left: 1rem;
        width: 140px;
        height: 30px;
    }
}