.textAlign{
    background-color: #ccc;
    width: max-content;
    padding: .7rem;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: .5rem;
    cursor: pointer;
}