.widget300,.widget600{
    width: calc(100%);
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .contain{
        // box-shadow: 0 0 .5rem rgba(17,17,17,.7);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 300px;
        // margin: 5px;
        .adplaceholder{
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
            color: #ccc;
        }
    }
}
.widget600{
    min-height: 610px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px !important;
    padding: 25px 0;
}