html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(38 38 38/10);
}
:root{
  --color-primary:#5f87ff;
  --color-secondary-1:#bbf7d0;
  --color-secondary-2:#dcfce7;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}
.sticky-menu,.mainHeader{
  background-color: #fff;
  width: 100%;
  margin: 2rem 0;
}

.mainHeader{
  margin: 1.25rem 0;
  padding-top: 5px;
}

.searchBar{
  background-color: #f3f3f3;
}

.hamburger{
  fill: var(--color-primary);
}

.searching{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  border-radius: 5px;

  input{
    border-radius: 2px !important;
  }
  .searchResultText{
    line-height: 1.5;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
  }
}

.fixedTop {
	position: fixed;
	padding-bottom: 5px;
	top : 0;
  left: 0;
  right: 0;
	z-index: 1000;
  margin: 0;
  padding: 5px 1rem ;
}

@media only screen and (min-width: 600px) {		// display: none;
  .topic-slider-container{
    border : 0.01rem solid rgba(0, 0, 0, 0.05);
  }
  .topic-slider-bottom{
    border-top: 0.01rem solid rgba(0, 0, 0, 0.05) !important;
  }
}


@media (prefers-color-scheme: dark) {
  :root{
    --color-secondary-1:#95169a;
    --color-secondary-2:#d96fbb;

  }
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: #202029;
  }


  .text-color{
    color: #fff;
  }
  .sticky-menu,.mainHeader{
    background-color: #202029;
  }
  .searchBar{
    border: 0.01rem solid rgb(135, 133, 133) !important;
    background: transparent;
    color: #f3f3f3;
  }
  
  .hamburger{
    fill: #fff;
  }
}

// .theme-light{
//   background-color: #fff;
//   color: rgb(38 38 38/10);
//   :root{
//     --color-secondary-1:#bbf7d0;
//     --color-secondary-2:#dcfce7; 
//   }
// }


::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;
    width: 2px;

}
body::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
	display: none;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    width: 2px;

}
