@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  height: 100%;
      background-color: #202029;
	  -ms-overflow-style: none; /* IE 11 */
	  scrollbar-width: none; /* Firefox 64 */

}

// #mainContent{
// 	max-height: 99vh;
// 	overflow-y: auto;
// 	overflow-x: hidden;
// }

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;

}
body::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
	display: none;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;

}

:root {
	--theme-light : #ffffff;
	--theme-dark : #262626;
	--theme-text-light : #000;
	--theme-text-dark : #ccc;
	--nc-header-shadow : rgba(60,64,67,0.3);
	--color-primary-light : #253022;
	--color-secondary-light : #fff;
	--text-color-primary : #2C2D31;
	--color1: rgba(7,155,238,1);
	--color2: rgba(8,41,190,1);
	--color3: rgb(150, 9, 150);
	--color-primary: brown;
}



.entry-point-container {
	max-width: 100vw;
	h1{
		padding: 0;
		margin: 0;
		margin-bottom: 2rem;
		color: #fff;
	}
}

.entry-point-card-title {
	margin-top: 10px;
	font-weight: 500;
	font-family: Poppins;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	width: 100px;
	color: #fff;
}

.lightbox {
	background-color: rgb(0, 0, 0, 0.7);
	z-index: -99999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.2s linear, opacity 0.2s linear;
	position: absolute;
}

.lightbox.show {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	visibility: visible;
	z-index: 99999;
	opacity: 1;
}

amp-story-player.my-player {
	width: 100%;
	height: 100%;
	/*   margin: 70px auto; */
}

.entry-points {
	display: flex;
	padding-bottom: 10px;
	justify-content: space-between;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
/* width */
.entry-points::-webkit-scrollbar {
width: 0px;
height: 0px;
}

/* Track */
.entry-points::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
.entry-points::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.entry-points::-webkit-scrollbar-thumb:hover {
background: #555;
}
.circular-entry-point .img-container{
	border-radius: 100%;
	padding: 3px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circular-entry-point .img {
	cursor: pointer;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-clip: content-box;
}

.entry-point-card-container {
	position: relative;
	transition: transform 0.3s;
	margin: 5px;
}

/* Extra stuff that makes sample aesthetic. */

body h1 {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	font-family: Poppins;
	margin-bottom: 35px;
	margin-left: 20px;
}

.fake-content {
	width: 320px;
	height: 427px;
	top: -178px;
	margin: auto;

	background: #24242d;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

.viewport {
	display: flex;
	flex-direction: column;
	/*   border-radius: 10px; */
	height: max-content;
	//background-color: #202029;
	overflow: hidden;
	width: 100%;
	padding: .5rem;
}