.ads300x300{
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .005rem solid #ccc;
    border-bottom: .005rem solid #ccc;
    background-color: #f2f1f1;
}