.ads300x300{
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: .005rem solid var(--boder-color );
    border-bottom: .005rem solid var(--boder-color );
    background-color: var(--placeholder-color);
    margin-bottom: .5rem;
    .adInfo{
        font-size: .7rem;
        padding: .5rem 0;
        border-bottom: .005rem solid var(--boder-color );
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adContent{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 300px;
        position: relative;
    }
}
.adPlaceholder{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    a{
        width: max-content !important;
        height: max-content !important;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
        line-height: 1.5;
    }
    .button{
        border: 1px solid;
        padding: .5rem 1rem;
        margin-top: 1rem;
    }
}